# Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List popular languages for Data Science
* List popular tools for Data Science
* List popular libraries for Data Science

Some of the commonly used libraries used by Data Scientists include:
1. Python
2. R
3. SAS

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Pytorch

Data Science Tools
Rstudio
Apache Spark
Jupyter

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5

#This a simple arithmetic expression to mutiply then add integers

17

In [6]:
200/60

# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Marc LECOMTE